<div class="contato-header">
    <h1>
        FALE CONOSCO
    </h1>
</div>

<main id="main">
    <div class="contato">
        <div>
            <h2>
                E-mail
            </h2>
            <p>
                Entre em contato conosco pelo e-mail:
            </p>
    
            <p class="cont-info">
                <a href="mariaklmn@outlook.com">contato@petvillage.com</a>
            </p>
        </div>
    
        <div>
            <h2>
                Whatsapp
            </h2>
            <p>
                Entre em contato conosco pelo whatsapp atráves do número:
            </p>
    
            <p class="cont-info">
                <a href="https://api.whatsapp.com/send?phone=5537988331359"><i class="bi bi-whatsapp"></i> (37) 98833-1359</a>
            </p>
        </div>
    </div>
</main>