<footer>
    <div class="redes-sociais">
        <p>Redes Sociais</p>
        <ul>
            <li><a href=""><i class="bi bi-instagram"></a></i></li>
            <li><a href=""><i class="bi bi-linkedin"></a></i></li>
            <li><a href=""><i class="bi bi-youtube"></a></i></li>
            <li><a href=""><i class="bi bi-twitter"></i></a></li>
        </ul>
        <hr>
    </div>

    <div class="formas-pag">
        <p>Formas de Pagamento</p>
        <img src="img/methods.png">
    </div>

    <div class="footer-info">
        <p>
            Pet Village CNPJ: 46.387.222/0001-00 - Endereço: Rua Joaquim Nabuco, 726 - Divinópolis - MG
        </p>

        <p>
            Copyright© 2022 Pet Village S/A - Todos os direitos reservados
        </p>
    </div>
</footer>