 
        <div class="menu">

            <ul>
                <li class="treeline-icon"><i class="bi bi-list"></i></li>
                <li><a href="/">Home</a></li>
                <li><a href="/brinquedos">Brinquedos</a></li>
                <li><a href="/alimentacao">Alimentação</a></li>
                <li><a href="/diversos">Diversos</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </div>
   