 
        <div class="menu">

            <ul>
                <li class="treeline-icon"><i class="bi bi-list"></i></li>
                <li><a href="http://localhost:3000">Home</a></li>
                <li><a href="http://localhost:3000/brinquedos">Brinquedos</a></li>
                <li><a href="http://localhost:3000/alimentacao">Alimentação</a></li>
                <li><a href="">Diversos</a></li>
                <li><a href="">Contato</a></li>
            </ul>
        </div>
   