 
        <div class="menu">

            <ul>
                <li class="treeline-icon"><i class="bi bi-list"></i></li>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Brinquedos</a></li>
                <li><a href="alimentacao.html">Alimentação</a></li>
                <li><a href="">Diversos</a></li>
                <li><a href="">Contato</a></li>
            </ul>
        </div>
   