<div class="banners">
        <div>
                <picture>
                        <source media="(max-width:768px)" srcset="img/banner-brinquedos-pq.png">
                        <img src="img/banner-brinquedos.png" alt="Coleção outono/Inverno Pet Village"
                            class="d-block w-100 img-fluid">
                    </picture>
        </div>
</div>

<main id="inicio">
        <div class="produtos">
                <h1>
                        Brinquedos para gatos
                </h1>

                <div class="brinq-gatos">

                </div>

                <h1>
                        Brinquedos para Cachorros
                </h1>

                <div class="brinq-caes">

                </div>
        </div>

</main>