<main>
    <div class="produtos ">
        <h1 class="title-bag">
            Itens na sacola
        </h1>

        <div class="produtos-bag">
        
        </div>


        <div class="finalizar">
            <p class="total"></p>

            <button class="btn finalizar">Finalizar compra</button>
        </div>
    </div>
</main>


<!-- <div class="sacola">
    <div class="item">
        <div><img src="img/alim-caes-1.png" alt=""></div>
        <div>
            <h2>Nome produto</h2>
            <h2>Preco</h2>
            <buttton class="btn remover">Remover</buttton>
        </div>
    </div>
</div> -->