  <!-- CARD brinquedos -->
  <div class="card-unico">

    
    <div class="info">
        <h2>
            Brinquedos 
        </h2>
        <p>
            Garanta a diversão do seu pet com nossa variedade de brinquedos
        </p>

        <button class="btn">Ver detalhes</button>
    </div>

    <img src="img/brinquedos.png" alt="Ração Guabi">
</div>


<hr>