  <!-- CARD GUABI -->
  <div class="card-unico card-unico-2">

   
    <div class="info">
        <h2>
            Guabi Natural
        </h2>
        <p>
            A linha de alimentos super premium para gatos Guabi Natural apresenta uma ampla diversidade de
            produtos e sabores para atender suas necessidades nutricionais, contribuindo para uma vida mais
            longa e saudável.
        </p>

        <a href="/alimentacao"><button class="btn btn-comprar">Ver mais</button></a>
    </div>

    <img src="img/racao-guabi.png" alt="Ração Guabi">
</div>