<div id="banners-container">
    <div class="carousel slide" id="slider" data-bs-ride="carousel">
        <div class="carousel-inner">

            <!-- slider 1 -->
            <div class="carousel-item active" id="carouselExampleControls">
                <a href="#">
                    <picture>
                        <source media="(max-width:768px)" srcset="img/slide-1-pq.png">
                        <img src="img/slide-1.png" alt="Coleção outono/Inverno Pet Village"
                            class="d-block w-100 img-fluid">
                    </picture>
                </a>
            </div>

            <!-- slider 2 -->
            <div class="carousel-item active" id="carouselExampleControls">
                <a href="#">
                    <picture>
                        <source media="(max-width:768px)" srcset="img/slide-2-pq.png">
                        <img src="img/slide-2.png" alt="Alimentação Pet Village" class="d-block w-100 img-fluid">
                    </picture>
                </a>
            </div>

            <!-- slider 3 -->
            <div class="carousel-item active" id="carouselExampleControls">
                <a href="#">
                    <picture>
                        <source media="(max-width:768px)" srcset="img/slide-3-pq.png">
                        <img src="img/slide-3.png" alt="Brinquedos Pet Village" class="d-block w-100 img-fluid">
                    </picture>
                </a>
            </div>

            <!-- Botões do slider -->
            <button class="carousel-control-prev" type="button" data-bs-target="#slider" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#slider" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>