<div class="banners">
    <div>
            <picture>
                    <source media="(max-width:768px)" srcset="img/banner-diversas-pq.png">
                    <img src="img/banner-diversas.png" alt="Coleção outono/Inverno Pet Village"
                        class="d-block w-100 img-fluid">
                </picture>
    </div>
</div>

<main id="inicio">
    <div class="produtos">
            <h1>
                   Diversos para Gatos
            </h1>

            <div class="diversos-gatos">

            </div>

            <h1>
                    Diversos para Cachorros
            </h1>

            <div class="diversos-caes">

            </div>

            <h1>
                Coleção Outono Village
            </h1>

            <div class="outono">
                
            </div>
    </div>

</main>