<div class="banners">
    <div>
            <picture>
                    <source media="(max-width:768px)" srcset="img/banner-alimentação-pq.png">
                    <img src="img/banner-alimentação.png" alt="Coleção outono/Inverno Pet Village"
                        class="d-block w-100 img-fluid">
                </picture>
    </div>
</div>

<main id="inicio">
    <div class="produtos">
            <h1>
                    Comida para Gatos
            </h1>

            <div class="alim-gatos">

            </div>

            <h1>
                    Comida para Cachorros
            </h1>

            <div class="alim-caes">

            </div>
    </div>

</main>